extends layout

block content
  section.container
    .row
      //- article.col-md-4*3>img.img-responsive[src="http://placehold.it/400x400"]+p>lorem
      article.col-md-4
        img.img-responsive(src="http://placehold.it/400x400", alt="")
        p.parrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nulla, numquam vitae velit eaque iusto earum dolores quos illo! Fugit est maiores, id atque molestiae enim ad quibusdam voluptatum blanditiis! 
      article.col-md-4
        img.img-responsive(src="http://placehold.it/400x400", alt="")
        p.parrafo Blanditiis pariatur in dolore, possimus voluptas sapiente laboriosam repellendus deserunt animi amet tempora beatae nemo a unde saepe hic eius facere mollitia labore quia natus. Accusantium ex totam, excepturi soluta.
      article.col-md-4
        img.img-responsive(src="http://placehold.it/400x400", alt="")
        p.parrafo Ea blanditiis quisquam omnis labore in, optio adipisci, distinctio suscipit cumque beatae debitis repellat totam sunt, quod asperiores laboriosam sed voluptate dicta! Fuga labore quis veniam harum voluptatibus ipsam saepe.
