<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Home
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/style.css")  
body
  include _nav
  block content
  include _footer
  script(src="js/jquery.min.js")
  script(src="js/bootstrap.min.js")
  
